<article class="quizzContainer">

    <div class="quizzLogo">

        <h3>{{title}}</h3>
    </div>

    <div *ngIf="!finished" class="quizzQuestions">
        <h3>{{questionSelected.question}}</h3>
    </div>

    <div *ngIf="!finished" class="quizzOptions">
        <button
        *ngFor="let option of questionSelected.options" 
        (click)="playerChoice(option.alias)"
        class="btnOption">
            {{option.name}}
        </button>
    </div>

    <div *ngIf="finished" class="quizzResults">  
        <h1>Seu resultado:</h1>
        <p>{{answersSelected}}</p>
    </div>
</article>
